---

// Data
import { current_logo } from './logo';
import {Tabs} from './tabs'

// Components
import Tab from './tab.astro'
import RightNav from './RightNav.astro';
---

<nav id="navbar">
    <!-- Logo Section -->
    <a class="link" href="/">
        <img
            src={current_logo.src}
            width={current_logo.width}
            height={current_logo.height}
            style="border-radius: 50%;"
        />
    </a>
    <!-- Tabs Section -->
    {Tabs.map(tab_item => <Tab tab_item={tab_item}/>)}

    <RightNav></RightNav>

</nav>

<style>
    nav {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 1rem;
    }


</style>
